VITE_GOONG_MAP_TILES_KEY=your_map_tiles_key_here
VITE_GOONG_API_KEY=your_rest_api_key_here

# Cloudinary (used for avatar uploads)
VITE_CLOUDINARY_CLOUD_NAME=hmimqygr
VITE_CLOUDINARY_UPLOAD_PRESET=avatar_upload
CLOUDINARY_URL=cloudinary://553548284372362:5p8F3Q2j9qpHlh3U3Y0WzjAiYck@hmimqygr